:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --primary-bg-color: #fff;
  --primary-color: #2e0045;
  --succesful-color: #00883b;
  --warning-color: #a49605;
}

$primary-bg-color: var(--primary-bg-color);
$primary-color: var(--primary-color);
$succesful-color: var(--succesful-color);
$warning-color: var(--warning-color);
